.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30svh;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 85%, rgba(248, 250, 252, 0.8) 100%);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
  
.headerInner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logoAnime {
  display: flex;
  text-decoration: none;
  width: 300px;

  -webkit-media-controls-start-playback-button {
    display: none !important; /* Safariの再生ボタンを非表示 */
  }
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .header {
    position: relative;
    padding: 16px 0;
    height: auto;
  }

  .headerInner {
    flex-direction: column;
  }

  .logoAnime {
    width: 50%;
    justify-content: center;
  }

  .logoText {
    font-size: 20px;
  }
}
  