@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #efefef;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;

    --color-bg-sub: #f3f3f3;

    --primary-pomjp: #1B3780;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebarContainer {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-start; /* 左側に配置 */
  align-items: center; /* 垂直方向に中央に配置 */
  height: 100svh; /* ビューポートの高さに合わせる */
  z-index: 60;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none !important; /* Safariの再生ボタンを非表示 */
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-select: none;
}

